In [1]:
import numpy as np
import pandas as pd

In [2]:
data1 = pd.read_csv("data_with_categories.csv")
data2 = pd.read_csv("RFM.csv")

In [3]:
data1.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Sales,Category_Name
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,Candle & Decorative Accessories
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Mugs & Cups
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,Decorative Items
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Thermos & Water Bottles
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Decorative Items

In [4]:
data2.head()

,CustomerID,Recency,Frequency,Monetary,R,F,M,RFM_Score,Segment
0,12346.0,326,1,77183.60,1,1,5,115,Big Spender
1,12347.0,2,7,4310.00,5,5,5,555,VIP Customer
2,12348.0,75,4,1797.24,2,4,4,244,Mid-Level Customer
3,12349.0,19,1,1757.55,4,1,4,414,Mid-Level Customer
4,12350.0,310,1,334.40,1,1,2,112,Lost Customer

In [5]:
# Veri setindeki kolonlarÄ± kontrol et
print(data1.columns)
print(data2.columns)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'Sales', 'Category_Name'],
      dtype='object')
Index(['CustomerID', 'Recency', 'Frequency', 'Monetary', 'R', 'F', 'M',
       'RFM_Score', 'Segment'],
      dtype='object')

In [6]:
# Verileri CustomerID'ye gÃ¶re birleÅtir (inner join)
merged_data = pd.merge(data1, data2, on="CustomerID", how="inner")

# Veriyi kaydetmek istersen
merged_data.to_csv("merged_data.csv", index=False)

In [7]:
# BirleÅtirilmiÅ verinin ilk birkaÃ§ satÄ±rÄ±nÄ± kontrol et
merged_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Sales,Category_Name,Recency,Frequency,Monetary,R,F,M,RFM_Score,Segment
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,Candle & Decorative Accessories,372,34,5391.21,1,5,5,155,Frequent Shopper
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Mugs & Cups,372,34,5391.21,1,5,5,155,Frequent Shopper
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,Decorative Items,372,34,5391.21,1,5,5,155,Frequent Shopper
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Thermos & Water Bottles,372,34,5391.21,1,5,5,155,Frequent Shopper
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Decorative Items,372,34,5391.21,1,5,5,155,Frequent Shopper

## BASIC CLV

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("merged_data.csv")

df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Sales,Category_Name,Recency,Frequency,Monetary,R,F,M,RFM_Score,Segment
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,Candle & Decorative Accessories,372,34,5391.21,1,5,5,155,Frequent Shopper
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Mugs & Cups,372,34,5391.21,1,5,5,155,Frequent Shopper
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,Decorative Items,372,34,5391.21,1,5,5,155,Frequent Shopper
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Thermos & Water Bottles,372,34,5391.21,1,5,5,155,Frequent Shopper
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Decorative Items,372,34,5391.21,1,5,5,155,Frequent Shopper

In [3]:
# 1ï¸â£ Toplam Harcama (Revenue) ve SipariÅ SayÄ±sÄ±
customer_metrics = df.groupby("CustomerID").agg({
    "InvoiceNo": "nunique",   # MÃ¼Återi baÅÄ±na sipariÅ sayÄ±sÄ±
    "Sales": "sum"            # MÃ¼Återi baÅÄ±na toplam harcama
}).rename(columns={"InvoiceNo": "customer_orders", "Sales": "total_spent"})

In [4]:
print(customer_metrics)

            customer_orders  total_spent
CustomerID
12346.0                   1     77183.60
12347.0                   7      4310.00
12348.0                   4      1797.24
12349.0                   1      1757.55
12350.0                   1       334.40
...                     ...          ...
18280.0                   1       180.60
18281.0                   1        80.82
18282.0                   2       178.05
18283.0                  16      2094.88
18287.0                   3      1837.28

[4339 rows x 2 columns]

In [5]:
# 2ï¸â£ Ortalama SipariÅ DeÄeri (AOV)
customer_metrics["AOV"] = customer_metrics["total_spent"] / customer_metrics["customer_orders"]

In [6]:
print(customer_metrics)

            customer_orders  total_spent           AOV
CustomerID
12346.0                   1     77183.60  77183.600000
12347.0                   7      4310.00    615.714286
12348.0                   4      1797.24    449.310000
12349.0                   1      1757.55   1757.550000
12350.0                   1       334.40    334.400000
...                     ...          ...           ...
18280.0                   1       180.60    180.600000
18281.0                   1        80.82     80.820000
18282.0                   2       178.05     89.025000
18283.0                  16      2094.88    130.930000
18287.0                   3      1837.28    612.426667

[4339 rows x 3 columns]

In [7]:
# 3ï¸â£ SatÄ±n Alma SÄ±klÄ±ÄÄ± (Purchase Frequency - PF)
total_orders = df["InvoiceNo"].nunique()  # Toplam sipariÅ sayÄ±sÄ±
total_customers = df["CustomerID"].nunique()  # Toplam mÃ¼Återi sayÄ±sÄ±
purchase_frequency = total_orders / total_customers  # Genel satÄ±n alma sÄ±klÄ±ÄÄ±

In [8]:
print("Toplam SipariÅ: ",total_orders)
print("Toplam MÃ¼Återi: ",total_customers)
print("Toplam SatÄ±n Alma SÄ±klÄ±ÄÄ±: ", purchase_frequency)

Toplam SipariÅ:  18536
Toplam MÃ¼Återi:  4339
Toplam SatÄ±n Alma SÄ±klÄ±ÄÄ±:  4.271952062687255

In [9]:
#1. AdÄ±m: MÃ¼Återi baÅÄ±na sipariÅ sayÄ±sÄ±nÄ± bulma
customer_orders = df.groupby('CustomerID')['InvoiceNo'].nunique()

# 2. AdÄ±m: Repeat Rate hesaplamak
# Repeat Rate, 1'den fazla sipariÅ veren mÃ¼Återilerin oranÄ±
repeat_customers = customer_orders[customer_orders > 1]
repeat_rate = len(repeat_customers) / len(customer_orders)

# 3. AdÄ±m: MÃ¼Återi ÃmrÃ¼ (LT) hesaplama
lt = 1 / (1 - repeat_rate)

# SonuÃ§larÄ± yazdÄ±rma
print(f"Repeat Rate: {repeat_rate:.2f}")
print(f"MÃ¼Återi ÃmrÃ¼ (LT): {lt:.2f} yÄ±l")

Repeat Rate: 0.66
MÃ¼Återi ÃmrÃ¼ (LT): 2.90 yÄ±l

In [11]:
# 4ï¸â£ MÃ¼Återi ÃmrÃ¼ (Lifetime - LT) â Ortalama 1 yÄ±l sÃ¼rede alÄ±ÅveriÅ yapan mÃ¼Återi sayÄ±sÄ±na gÃ¶re belirlenir
customer_metrics["LT"] = lt  # Basit varsayÄ±m: 1 yÄ±l sÃ¼rede mÃ¼Återi kaybÄ± yok

In [12]:
# 5ï¸â£ MÃ¼Återi ÃmÃ¼r DeÄeri (CLV) Hesaplama
customer_metrics["CLV"] = customer_metrics["AOV"] * purchase_frequency * customer_metrics["LT"]

In [13]:
# SonuÃ§larÄ± GÃ¶ster
print(customer_metrics[["AOV", "customer_orders", "CLV"]].head())

                     AOV  customer_orders            CLV
CustomerID
12346.0     77183.600000                1  957613.928782
12347.0       615.714286                7    7639.143240
12348.0       449.310000                4    5574.571727
12349.0      1757.550000                1   21805.854618
12350.0       334.400000                1    4148.887818

In [14]:
customer_metrics.reset_index(inplace=True)

In [15]:
customer_metrics

,CustomerID,customer_orders,total_spent,AOV,LT,CLV
0,12346.0,1,77183.60,77183.600000,2.904284,957613.928782
1,12347.0,7,4310.00,615.714286,2.904284,7639.143240
2,12348.0,4,1797.24,449.310000,2.904284,5574.571727
3,12349.0,1,1757.55,1757.550000,2.904284,21805.854618
4,12350.0,1,334.40,334.400000,2.904284,4148.887818
...,...,...,...,...,...,...
4334,18280.0,1,180.60,180.600000,2.904284,2240.697189
4335,18281.0,1,80.82,80.820000,2.904284,1002.730602
4336,18282.0,2,178.05,89.025000,2.904284,1104.529719
4337,18283.0,16,2094.88,130.930000,2.904284,1624.443427
4338,18287.0,3,1837.28,612.426667,2.904284,7598.353878

In [16]:
customer_metrics.to_csv("customer_metrics.csv", index=False)

In [17]:
merge = pd.read_csv("merged_data.csv")
customer_metrics= pd.read_csv("customer_metrics.csv")

In [18]:
data3 = pd.merge(merge, customer_metrics, on="CustomerID", how="inner")

# Veriyi kaydetmek istersen
data3.to_csv("rfm_clv_data.csv", index=False)

In [19]:
data3.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Sales,Category_Name,...,R,F,M,RFM_Score,Segment,customer_orders,total_spent,AOV,LT,CLV
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,Candle & Decorative Accessories,...,1,5,5,155,Frequent Shopper,34,5391.21,158.565,2.904284,1967.309799
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Mugs & Cups,...,1,5,5,155,Frequent Shopper,34,5391.21,158.565,2.904284,1967.309799
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,Decorative Items,...,1,5,5,155,Frequent Shopper,34,5391.21,158.565,2.904284,1967.309799
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Thermos & Water Bottles,...,1,5,5,155,Frequent Shopper,34,5391.21,158.565,2.904284,1967.309799
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Decorative Items,...,1,5,5,155,Frequent Shopper,34,5391.21,158.565,2.904284,1967.309799

# Percentile yÃ¶ntemini kullanarak CLV'yi sÄ±nÄ±flandÄ±rma

-> 80. yÃ¼zdelik deÄerin Ã¼stÃ¼ndeki mÃ¼Återiler, tÃ¼m mÃ¼Återilerin en yÃ¼ksek CLVâye sahip ilk %20âlik dilimi demektir. 20. yÃ¼zdelik deÄerin altÄ±ndaki mÃ¼Återiler ise en dÃ¼ÅÃ¼k CLVâye sahip %20âlik dilim

In [27]:
# CLV'nin %80'ini ve %20'sini bulma
percentile_80 = customer_metrics["CLV"].quantile(0.80)
percentile_20 = customer_metrics["CLV"].quantile(0.20)

# YÃ¼ksek ve DÃ¼ÅÃ¼k CLV'yi sÄ±nÄ±flandÄ±rma
customer_metrics['CLV_Category'] = customer_metrics['CLV'].apply(
    lambda x: 'High CLV' if x >= percentile_80 
    else ('Low CLV' if x <= percentile_20 
    else 'Medium CLV')
)

print(customer_metrics)

      CustomerID  customer_orders  total_spent           AOV        LT  \
0        12346.0                1     77183.60  77183.600000  2.904284
1        12347.0                7      4310.00    615.714286  2.904284
2        12348.0                4      1797.24    449.310000  2.904284
3        12349.0                1      1757.55   1757.550000  2.904284
4        12350.0                1       334.40    334.400000  2.904284
...          ...              ...          ...           ...       ...
4334     18280.0                1       180.60    180.600000  2.904284
4335     18281.0                1        80.82     80.820000  2.904284
4336     18282.0                2       178.05     89.025000  2.904284
4337     18283.0               16      2094.88    130.930000  2.904284
4338     18287.0                3      1837.28    612.426667  2.904284

                CLV CLV_Category
0     957613.928782     High CLV
1       7639.143240     High CLV
2       5574.571727   Medium CLV
3      21805.854618     High CLV
4       4148.887818   Medium CLV
...             ...          ...
4334    2240.697189   Medium CLV
4335    1002.730602      Low CLV
4336    1104.529719      Low CLV
4337    1624.443427      Low CLV
4338    7598.353878     High CLV

[4339 rows x 7 columns]

## Gamma-Gamma Modeli

In [3]:
rfm_data = pd.read_csv("rfm_clv_data.csv")

In [4]:
rfm_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Sales,Category_Name,...,R,F,M,RFM_Score,Segment,customer_orders,total_spent,AOV,LT,CLV
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,Candle & Decorative Accessories,...,1,5,5,155,Frequent Shopper,34,5391.21,158.565,2.904284,1967.309799
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Mugs & Cups,...,1,5,5,155,Frequent Shopper,34,5391.21,158.565,2.904284,1967.309799
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,Decorative Items,...,1,5,5,155,Frequent Shopper,34,5391.21,158.565,2.904284,1967.309799
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Thermos & Water Bottles,...,1,5,5,155,Frequent Shopper,34,5391.21,158.565,2.904284,1967.309799
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Decorative Items,...,1,5,5,155,Frequent Shopper,34,5391.21,158.565,2.904284,1967.309799

In [5]:
# NaN deÄerlerini kontrol et
nan_values = rfm_data.isna().sum()
print("Eksik (NaN) DeÄerler:\n", nan_values)

Eksik (NaN) DeÄerler:
 InvoiceNo          0
StockCode          0
Description        0
Quantity           0
InvoiceDate        0
UnitPrice          0
CustomerID         0
Country            0
Sales              0
Category_Name      0
Recency            0
Frequency          0
Monetary           0
R                  0
F                  0
M                  0
RFM_Score          0
Segment            0
customer_orders    0
total_spent        0
AOV                0
LT                 0
CLV                0
dtype: int64

In [6]:
zero_values = (rfm_data == 0).sum()
print("SÄ±fÄ±r DeÄerler:\n", zero_values)

SÄ±fÄ±r DeÄerler:
 InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
UnitPrice          40
CustomerID          0
Country             0
Sales              40
Category_Name       0
Recency             0
Frequency           0
Monetary            1
R                   0
F                   0
M                   0
RFM_Score           0
Segment             0
customer_orders     0
total_spent         1
AOV                 1
LT                  0
CLV                 1
dtype: int64

In [8]:
# UnitPrice, Sales, Monetary, total_spent, AOV ve CLV sÃ¼tunlarÄ±nda sÄ±fÄ±r olan satÄ±rlarÄ± kaldÄ±r
df_clean = rfm_data[(df['UnitPrice'] != 0) & (rfm_data['Sales'] != 0) & 
              (rfm_data['Monetary'] != 0) & (rfm_data['total_spent'] != 0) &
              (rfm_data['AOV'] != 0) & (rfm_data['CLV'] != 0)]

In [9]:
zero_values = (df_clean == 0).sum()
print("SÄ±fÄ±r DeÄerler:\n", zero_values)

SÄ±fÄ±r DeÄerler:
 InvoiceNo          0
StockCode          0
Description        0
Quantity           0
InvoiceDate        0
UnitPrice          0
CustomerID         0
Country            0
Sales              0
Category_Name      0
Recency            0
Frequency          0
Monetary           0
R                  0
F                  0
M                  0
RFM_Score          0
Segment            0
customer_orders    0
total_spent        0
AOV                0
LT                 0
CLV                0
dtype: int64

In [10]:
rfm_clv_data = df_clean

In [11]:
rfm_clv_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Sales,Category_Name,...,R,F,M,RFM_Score,Segment,customer_orders,total_spent,AOV,LT,CLV
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,Candle & Decorative Accessories,...,1,5,5,155,Frequent Shopper,34,5391.21,158.565,2.904284,1967.309799
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Mugs & Cups,...,1,5,5,155,Frequent Shopper,34,5391.21,158.565,2.904284,1967.309799
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,Decorative Items,...,1,5,5,155,Frequent Shopper,34,5391.21,158.565,2.904284,1967.309799
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Thermos & Water Bottles,...,1,5,5,155,Frequent Shopper,34,5391.21,158.565,2.904284,1967.309799
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Decorative Items,...,1,5,5,155,Frequent Shopper,34,5391.21,158.565,2.904284,1967.309799

In [12]:
print(rfm_clv_data["AOV"].dtype)

float64

In [14]:
rfm_clv_data['AOV'] = rfm_clv_data['AOV'].astype(int)

C:\Users\EXCALIBUR\AppData\Local\Temp\ipykernel_7492\4059964439.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rfm_clv_data['AOV'] = rfm_clv_data['AOV'].astype(int)

In [15]:
print(rfm_clv_data['AOV'].dtype)

int32

In [25]:
rfm_clv_data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Sales,Category_Name,...,F,M,RFM_Score,Segment,customer_orders,total_spent,AOV,LT,CLV,expected_monetary
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,Candle & Decorative Accessories,...,5,5,155,Frequent Shopper,34,5391.21,158,2.904284,1967.309799,34.018722
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Mugs & Cups,...,5,5,155,Frequent Shopper,34,5391.21,158,2.904284,1967.309799,34.018722
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,Decorative Items,...,5,5,155,Frequent Shopper,34,5391.21,158,2.904284,1967.309799,34.018722
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Thermos & Water Bottles,...,5,5,155,Frequent Shopper,34,5391.21,158,2.904284,1967.309799,34.018722
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Decorative Items,...,5,5,155,Frequent Shopper,34,5391.21,158,2.904284,1967.309799,34.018722
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,10.20,Napkin & Tissue Sets,...,4,3,543,Loyal Customer,4,862.81,215,2.904284,2676.212544,4.009741
397920,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60,Childrenâs Products,...,4,3,543,Loyal Customer,4,862.81,215,2.904284,2676.212544,4.009741
397921,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60,Childrenâs Products,...,4,3,543,Loyal Customer,4,862.81,215,2.904284,2676.212544,4.009741
397922,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60,Childrenâs Products,...,4,3,543,Loyal Customer,4,862.81,215,2.904284,2676.212544,4.009741
397923,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85,Kitchen & Storage Containers,...,4,3,543,Loyal Customer,4,862.81,215,2.904284,2676.212544,4.009741

## CLV HesaplamasÄ±

In [17]:
# Her mÃ¼Återi iÃ§in toplam 'customer_orders' ve ortalama 'AOV' hesaplayalÄ±m
rfm_clv_data_grouped = rfm_clv_data.groupby('CustomerID').agg({
    'AOV': 'mean',  # OrtalamayÄ± alÄ±yoruz
    'customer_orders': 'sum'  # Toplam sipariÅ sayÄ±sÄ±nÄ± alÄ±yoruz
}).reset_index()

# Yeni veri setini kontrol edelim
print(rfm_clv_data_grouped.head())

   CustomerID      AOV  customer_orders
0     12346.0  77183.0                1
1     12347.0    615.0             1274
2     12348.0    449.0              124
3     12349.0   1757.0               73
4     12350.0    334.0               17

In [18]:
from lifetimes import GammaGammaFitter

# Gamma-Gamma modelini baÅlatÄ±yoruz:
ggf = GammaGammaFitter(penalizer_coef=0.001)

# Modeli fit ediyoruz:
ggf.fit(rfm_clv_data_grouped['AOV'], rfm_clv_data_grouped['customer_orders'])

# Her mÃ¼Återi iÃ§in beklenen ortalama iÅlem deÄerini hesaplayalÄ±m
rfm_clv_data_grouped["expected_monetary"] = ggf.conditional_expected_average_profit(
    rfm_clv_data_grouped['AOV'], rfm_clv_data_grouped['customer_orders']
)

# SonuÃ§larÄ± gÃ¶sterelim
print(rfm_clv_data_grouped[['CustomerID', 'AOV', 'customer_orders', 'expected_monetary']].head())

   CustomerID      AOV  customer_orders  expected_monetary
0     12346.0  77183.0                1           1.000039
1     12347.0    615.0             1274        1274.513172
2     12348.0    449.0              124         124.073918
3     12349.0   1757.0               73          73.011755
4     12350.0    334.0               17          17.020687

In [ ]:

# AOV ve customer_orders iÃ§in temel istatistikleri inceleyelim
print(rfm_clv_data_grouped[['AOV', 'customer_orders']].describe())

                AOV  customer_orders
count   4338.000000     4.338000e+03
mean     418.659290     1.724540e+03
std     1796.517355     2.794591e+04
min        3.000000     1.000000e+00
25%      178.000000     2.200000e+01
50%      293.500000     8.600000e+01
75%      429.750000     4.350000e+02
max    84236.000000     1.140675e+06

## Otulier Belirlenmesi ve Sadece Outlier Verilerle CLV

In [21]:
from scipy.stats import zscore

# Z-score hesaplayalÄ±m
rfm_clv_data_grouped['AOV_zscore'] = zscore(rfm_clv_data_grouped['AOV'])
rfm_clv_data_grouped['customer_orders_zscore'] = zscore(rfm_clv_data_grouped['customer_orders'])

# Z-score'u 3'ten bÃ¼yÃ¼k olanlarÄ± (outlier) filtreleyelim
outliers_zscore = rfm_clv_data_grouped[
    (rfm_clv_data_grouped['AOV_zscore'].abs() > 3) | 
    (rfm_clv_data_grouped['customer_orders_zscore'].abs() > 3)
]

# Outlier olan mÃ¼Återileri listeleyelim
print(outliers_zscore[['CustomerID', 'AOV', 'customer_orders', 'AOV_zscore', 'customer_orders_zscore']])

      CustomerID      AOV  customer_orders  AOV_zscore  customer_orders_zscore
0        12346.0  77183.0                1   42.734455               -0.061681
10       12357.0   6207.0              131    3.222350               -0.057029
55       12415.0   5948.0            14994    3.078166                0.474881
326      12748.0    160.0           964950   -0.143995               34.471463
562      13089.0    606.0           176346    0.104292                6.249271
1289     14096.0   3833.0            86887    1.900752                3.047754
1661     14606.0    130.0           251100   -0.160696                8.924533
1689     14646.0   3786.0           153624    1.874587                5.436107
1879     14911.0    715.0          1140675    0.164972               40.760228
2011     15098.0  13305.0                9    7.173783               -0.061395
2176     15311.0    667.0           216489    0.138250                7.685890
2502     15749.0  14844.0               30    8.030540               -0.060643
3008     16446.0  84236.0                6   46.660837               -0.061502
4010     17841.0    330.0           973028   -0.049356               34.760555

In [ ]:
# AykÄ±rÄ± deÄerleri dÄ±Ålayan yeni veri seti
rfm_clv_data_filtered = rfm_clv_data_grouped[
    (rfm_clv_data_grouped['AOV_zscore'].abs() <= 3) &
    (rfm_clv_data_grouped['customer_orders_zscore'].abs() <= 3)
]

# Yeni veriyi kontrol edelim
rfm_clv_data_filtered

In [26]:
# Yeni veriyi kullanarak Gamma-Gamma modelini baÅlatÄ±yoruz
ggf_filtered = GammaGammaFitter(penalizer_coef=0.001)

# Modeli fit ediyoruz
ggf_filtered.fit(rfm_clv_data_filtered['AOV'], rfm_clv_data_filtered['customer_orders'])

# Her mÃ¼Återi iÃ§in beklenen ortalama iÅlem deÄerini (expected_monetary) hesaplayalÄ±m
rfm_clv_data_filtered['expected_monetary'] = ggf_filtered.conditional_expected_average_profit(
    rfm_clv_data_filtered['AOV'], rfm_clv_data_filtered['customer_orders']
)

# SonuÃ§larÄ± gÃ¶relim
print(rfm_clv_data_filtered[['CustomerID', 'AOV', 'customer_orders', 'expected_monetary']].head())

   CustomerID     AOV  customer_orders  expected_monetary
1     12347.0   615.0             1274        1274.508265
2     12348.0   449.0              124         124.073294
3     12349.0  1757.0               73          73.011665
4     12350.0   334.0               17          17.020612
5     12352.0   313.0              680         680.537338

In [47]:
print(rfm_clv_data_filtered[['AOV', 'customer_orders']].describe())

               AOV  customer_orders
count  4324.000000      4324.000000
mean    370.997687       810.079325
std     375.042024      3251.563564
min       3.000000         1.000000
25%     178.000000        22.000000
50%     292.000000        86.000000
75%     428.000000       432.500000
max    4932.000000     77000.000000

## Outlier ÃÄ±kartÄ±lmÄ±Å Veri ile CLV

In [34]:
# Outlier olan mÃ¼Återi ID'lerini alalÄ±m
outlier_customer_ids = outliers_zscore['CustomerID'].tolist()

# Listeyi gÃ¶rÃ¼ntÃ¼leyelim
print(outlier_customer_ids)

[12346.0, 12357.0, 12415.0, 12748.0, 13089.0, 14096.0, 14606.0, 14646.0, 14911.0, 15098.0, 15311.0, 15749.0, 16446.0, 17841.0]

In [42]:
# Bu mÃ¼Återi ID'lerine sahip satÄ±rlarÄ± Ã§Ä±karalÄ±m
rfm_clv_data_no_outliers = rfm_clv_data[~rfm_clv_data['CustomerID'].isin(outlier_customer_ids)]

# SonuÃ§larÄ± kontrol edelim
print(rfm_clv_data_no_outliers.head())

   InvoiceNo StockCode                          Description  Quantity  \
0     536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1     536365     71053                  WHITE METAL LANTERN         6
2     536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3     536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4     536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

           InvoiceDate  UnitPrice  CustomerID         Country  Sales  \
0  2010-12-01 08:26:00       2.55     17850.0  United Kingdom  15.30
1  2010-12-01 08:26:00       3.39     17850.0  United Kingdom  20.34
2  2010-12-01 08:26:00       2.75     17850.0  United Kingdom  22.00
3  2010-12-01 08:26:00       3.39     17850.0  United Kingdom  20.34
4  2010-12-01 08:26:00       3.39     17850.0  United Kingdom  20.34

                     Category_Name  ...  F  M  RFM_Score           Segment  \
0  Candle & Decorative Accessories  ...  5  5        155  Frequent Shopper
1                      Mugs & Cups  ...  5  5        155  Frequent Shopper
2                 Decorative Items  ...  5  5        155  Frequent Shopper
3          Thermos & Water Bottles  ...  5  5        155  Frequent Shopper
4                 Decorative Items  ...  5  5        155  Frequent Shopper

   customer_orders  total_spent  AOV        LT          CLV  expected_monetary
0               34      5391.21  158  2.904284  1967.309799          34.018722
1               34      5391.21  158  2.904284  1967.309799          34.018722
2               34      5391.21  158  2.904284  1967.309799          34.018722
3               34      5391.21  158  2.904284  1967.309799          34.018722
4               34      5391.21  158  2.904284  1967.309799          34.018722

[5 rows x 24 columns]

In [43]:
# Her mÃ¼Återi iÃ§in toplam 'customer_orders' ve ortalama 'AOV' hesaplayalÄ±m
rfm_clv_data_no_outliers_grouped = rfm_clv_data_no_outliers.groupby('CustomerID').agg({
    'AOV': 'mean',  # OrtalamayÄ± alÄ±yoruz
    'customer_orders': 'sum'  # Toplam sipariÅ sayÄ±sÄ±nÄ± alÄ±yoruz
}).reset_index()

# Yeni veri setini kontrol edelim
print(rfm_clv_data_no_outliers_grouped.head())

   CustomerID     AOV  customer_orders
0     12347.0   615.0             1274
1     12348.0   449.0              124
2     12349.0  1757.0               73
3     12350.0   334.0               17
4     12352.0   313.0              680

In [44]:
from lifetimes import GammaGammaFitter

# Gamma-Gamma modelini baÅlatÄ±yoruz:
ggf = GammaGammaFitter(penalizer_coef=0.001)

# Modeli fit ediyoruz:
ggf.fit(rfm_clv_data_no_outliers_grouped['AOV'], rfm_clv_data_no_outliers_grouped['customer_orders'])

# Her mÃ¼Återi iÃ§in beklenen ortalama iÅlem deÄerini hesaplayalÄ±m
rfm_clv_data_no_outliers_grouped["expected_monetary"] = ggf.conditional_expected_average_profit(
    rfm_clv_data_no_outliers_grouped['AOV'], rfm_clv_data_no_outliers_grouped['customer_orders']
)

# SonuÃ§larÄ± gÃ¶sterelim
print(rfm_clv_data_no_outliers_grouped[['CustomerID', 'AOV', 'customer_orders', 'expected_monetary']].head())

   CustomerID     AOV  customer_orders  expected_monetary
0     12347.0   615.0             1274        1274.508265
1     12348.0   449.0              124         124.073294
2     12349.0  1757.0               73          73.011665
3     12350.0   334.0               17          17.020612
4     12352.0   313.0              680         680.537338

In [48]:

# AOV ve customer_orders iÃ§in temel istatistikleri inceleyelim
print(rfm_clv_data_no_outliers_grouped[['AOV', 'customer_orders']].describe())

               AOV  customer_orders
count  4324.000000      4324.000000
mean    370.997687       810.079325
std     375.042024      3251.563564
min       3.000000         1.000000
25%     178.000000        22.000000
50%     292.000000        86.000000
75%     428.000000       432.500000
max    4932.000000     77000.000000

## Conclusion

Bu analizde, mÃ¼Återi verisi Ã¼zerinde yapÄ±lan CLV hesaplamalarÄ±nÄ±n farklÄ± varyasyonlarÄ± incelendi. AykÄ±rÄ± deÄerlerin etkisi, hem verinin daÄÄ±lÄ±mÄ±nÄ± hem de CLV tahminlerini Ã¶nemli Ã¶lÃ§Ã¼de etkileyebiliyor. ÃÄ±kan sonuÃ§lar, her aÅamanÄ±n farklÄ± bir bakÄ±Å aÃ§Ä±sÄ± sunduÄunu gÃ¶steriyor.

### AykÄ±rÄ± DeÄerlerin Dahil EdildiÄi Durum:

- AykÄ±rÄ± deÄerler dahil edildiÄinde, CLV hesaplamalarÄ± bazÄ± uÃ§ noktalar tarafÄ±ndan ÅiÅirildi. Bu durum, Ã¶zellikle Ã§ok yÃ¼ksek harcamalara sahip birkaÃ§ mÃ¼Återi nedeniyle yanÄ±ltÄ±cÄ± olabilir.
- Ortalama AOV ve sipariÅ sayÄ±larÄ± yÃ¼ksek uÃ§ deÄerlerden etkilenebilir, bu da gerÃ§ekÃ§i olmayan tahminler oluÅturabilir.

### AykÄ±rÄ± DeÄerlerin ÃÄ±karÄ±ldÄ±ÄÄ± Durum:

- AykÄ±rÄ± deÄerler Ã§Ä±karÄ±ldÄ±ÄÄ±nda, daha tutarlÄ± ve doÄru bir CLV hesaplamasÄ± elde ediliyor. UÃ§ deÄerlerin etkisi ortadan kalktÄ±ÄÄ±ndan, normal mÃ¼Återi davranÄ±ÅlarÄ±na dayalÄ± tahminler yapÄ±labiliyor.
- Bu durum, pazarlama stratejilerinin ve mÃ¼Återi segmentasyonunun daha saÄlÄ±klÄ± bir Åekilde oluÅturulmasÄ±na olanak tanÄ±r. AykÄ±rÄ± deÄerlerin Ã§Ä±karÄ±lmasÄ±, daha gerÃ§ekÃ§i ve uygulamaya dÃ¶nÃ¼k sonuÃ§lar elde edilmesini saÄlar.

### Genel Yorum:

AykÄ±rÄ± deÄerlerin Ã§Ä±karÄ±lmasÄ±, CLV hesaplamalarÄ±nÄ± daha doÄru ve gÃ¼venilir hale getirdi. Bu, Ã¶zellikle bÃ¼yÃ¼k veri setlerinde Ã¶nemli bir adÄ±m olup, pazarlama, satÄ±Å stratejileri ve mÃ¼Återi segmentasyonu gibi alanlarda daha saÄlÄ±klÄ± kararlar alÄ±nmasÄ±na yardÄ±mcÄ± olur. AykÄ±rÄ± deÄerlerin etkisini gÃ¶z ardÄ± etmek yerine doÄru bir Åekilde yÃ¶netmek, daha verimli ve doÄru iÅ stratejilerinin oluÅturulmasÄ±na olanak tanÄ±r.